---
import { Image } from 'astro:assets';
import CarouselEmbla from '../components/CarouselEmbla.svelte';

interface Props {
  title: string;
  body: string;
}

const { title, body } = Astro.props;
---

<li class="link-card">
  <div class="card-sub">
    <h2>
      {title}
    </h2>
    <p>
      {body}
    </p>
    <div class="photo-card">
      <CarouselEmbla client:load />
    </div>
  </div>
</li>

<style>
  .link-card {
    list-style: none;
  }

  .card-sub {
    display: grid;
    grid-template-columns: 25% 1fr 1fr;
    width: 100%;

    @media (max-width: 496px) {
      display: block;
    }
  }

  h2 {
    margin: 0;
    font-size: 1.2rem;
    color: rgb(27, 25, 25);
    @media (max-width: 496px) {
      font-size: 1rem;
    }
  }

  p {
    display: grid;
    justify-content: center;
    align-content: end;
    font-size: 1rem;
    height: 150px;
    margin-top: 50px;
    color: rgb(27, 25, 25);

    @media (max-width: 496px) {
      font-size: 0.8rem;
      display: block;
      height: inherit;
      margin-top: inherit;
      padding: 10px;
      padding-bottom: 8px;
    }
  }

  .photo-card {
    object-fit: cover;
    width: 100%;
    height: 300px;

    @media (max-width: 496px) {
      grid-column: 3 / -1;
    }
  }
</style>
