---
import { Image } from 'astro:assets';

interface Props {
  title: string;
  body: string;
  image: ImageMetadata;
}

const { title, body, image } = Astro.props;
---

<li class="link-card">
  <div class="card-sub">
    <h2>
      {title}
    </h2>
    <p>
      {body}
    </p>
    <Image class="photo-card" src={image} alt={`cottage`} quality="mid" />
  </div>
</li>

<style>
  .link-card {
    list-style: none;
  }

  .link-card > a {
    width: 100%;
    text-decoration: none;
  }

  .card-sub {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;

    @media (max-width: 496px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  h2 {
    margin: 0;
    font-size: 1.25rem;
    /* transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1); */
    color: rgb(27, 25, 25);
    @media (max-width: 496px) {
      font-size: 1rem;
    }
  }

  p {
    display: grid;
    justify-content: center;
    align-content: end;
    writing-mode: vertical-rl;
    font-size: larger;
    height: 150px;
    margin-top: 50px;
    color: rgb(27, 25, 25);

    @media (max-width: 496px) {
      font-size: medium;
    }
  }

  .photo-card {
    object-fit: cover;
    width: 100%;
    height: 300px;

    @media (max-width: 496px) {
      grid-column: 3 / -1;
    }
  }
</style>
