---

---

<a class="navi" href="/">＜＜トップ</a>
<div class="footer">
  <p>運営：猫髭工房</p>
</div>

<style>
  .navi {
    color: rgb(27, 25, 25);
    text-decoration: none;
  }

  .footer {
    display: grid;
    place-content: center;
    color: rgb(248, 245, 245);
    background-color: rgba(22, 8, 8, 0.726);
    width: 100%;
    margin-top: 20px;
  }
</style>