---

---

<a class="navi" href="/">＜＜トップ</a>
<div class="footer">

  <p class="operater">運営：猫髭工房</p>
</div>

<style>
  .navi {
    grid-column: 1 / -1;
    align-self: start;
    color: rgb(27, 25, 25);
    text-decoration: none;
  }

  .footer {
    /* grid-column: 1 / -1; */
    /* display: grid;
  grid-template-columns: minmax(32px, 1fr) minmax(auto, 1120px) minmax(32px,
				1fr);; */
    /* align-items: center;
    justify-items: center; */
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr; */
    place-content: center;
    color: rgb(248, 245, 245);
    background-color: rgba(22, 8, 8, 0.726);
    width: 100%;
    margin-top: 20px;



    >.operater {
      grid-column: 2 / -;
      /* display: block; */
      /* margin: auto;
      width: 800px; */
      /* align-self:center; */
      /* align-items: center; */
      /* justify-self: center; */
    }
  }
</style>